<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.mapper.AccountMapper">

    <sql id="item">
        id,username,money
    </sql>

    <resultMap id="accountMap" type="account">
        <id property="id" column="id"></id>
        <result property="username" column="username"/>
        <result property="money" column="money"/>
    </resultMap>

    <select id="findAll" resultMap="accountMap">
        select * from account
    </select>

    <insert id="insert" parameterType="account">
        insert into account(<include refid="item"/> ) values (#{id},#{username},#{money})
    </insert>

    <delete id="delById" parameterType="int">
        delete from account where id=#{id}
    </delete>

</mapper>